/预训练模型Application/VGG16/vgg16_weights_tf_dim_ordering_tf_kernels_notop.h5
/预训练模型Application/VGG16/re
/Sequential_Functional_Model/阅读理解机器人/babi_tasks_1-20_v1-2
/Sequential_Functional_Model/阅读理解机器人/babi_tasks_1-20_v1-2.tar.gz
