/预训练模型Application/VGG16/vgg16_weights_tf_dim_ordering_tf_kernels_notop.h5
/预训练模型Application/VGG16/re
/Sequential_Functional_Model/阅读理解机器人/babi_tasks_1-20_v1-2
/Sequential_Functional_Model/阅读理解机器人/babi_tasks_1-20_v1-2.tar.gz
/TensorFlow/Auto_Encoder/MNIST_data
/TensorFlow/Convolution_Network/CIFAR-10/cifar10/cifar10_data
/TensorFlow/models
/TensorFlow/Recurrent_Neural_Network/Word2Vec/text8.zip
/TensorFlow/Recurrent_Neural_Network/LSTM/simple-examples
/TensorFlow/Recurrent_Neural_Network/LSTM/simple-examples.tgz
/TensorFlow/Recurrent_Neural_Network/LSTM/阅读理解机器人/babi_tasks_1-20_v1-2
/TensorFlow/Recurrent_Neural_Network/LSTM/阅读理解机器人/babi_tasks_1-20_v1-2.tar.gz
